Repository ryanisaacg/quicksilver, pull requests merged in 2018-07, with the labels that each got.

#274 Disable appveyor branch
  appveyor.yml
Labels: enhance-infrastructure

#273 Bump glutin version to latest
  CHANGES.md
  Cargo.toml
  src/geom/vector.rs
  src/graphics/window.rs
  src/input/event.rs
  src/input/key.rs
  src/state.rs
Labels: enhance-version-bump, subsystem-graphics

#278 Fix the appveyor build issues
  appveyor.yml
Labels: enhance-infrastructure

#275 Convert the backend error handling to bubble errors where possible
  examples/draw-geometry.rs
  examples/font.rs
  examples/image.rs
  examples/pulsing-circle.rs
  examples/raycast.rs
  examples/sound.rs
  src/graphics/backend/gl3.rs
  src/graphics/backend/mod.rs
  src/graphics/backend/webgl.rs
  src/graphics/font.rs
  src/graphics/image.rs
  src/graphics/surface.rs
  src/graphics/window.rs
  src/lib.rs
  src/state.rs
Labels: change-api-breaking, enhance-refactor, subsystem-graphics

#277 Replace color function with color constants
  README.md
  docs/index.html
  examples/draw-geometry.rs
  examples/font.rs
  examples/image.rs
  examples/pulsing-circle.rs
  examples/raycast.rs
  examples/sound.rs
  src/graphics/color.rs
  src/graphics/drawable.rs
  src/graphics/window.rs
  src/lib.rs
  src/state.rs
Labels: change-api-breaking, enhance-refactor, subsystem-graphics

#280 Create an RGB Triangle example
  Cargo.toml
  examples/rgb-triangle.rs
Labels: documentation-soft, subsystem-graphics

#283 Fix possible bug where multiple frames could report an input was changed
  src/state.rs
Labels: bug, platform-native, platform-wasm, subsystem-input

#284 Add gilrs error bubbling
  src/error.rs
  src/graphics/window.rs
  src/input/gamepad.rs
Labels: change-api-breaking, enhance-refactor, subsystem-input

#285 Remove 'unwrap' from the Atlas loading code
  src/graphics/atlas.rs
Labels: enhance-refactor, subsystem-graphics

#279 Create a new more convenient draw interface
  CHANGES.md
  examples/draw-geometry.rs
  examples/font.rs
  examples/image.rs
  examples/pulsing-circle.rs
  examples/sound.rs
  src/geom/circle.rs
  src/geom/mod.rs
  src/geom/objects/line.rs
  src/geom/objects/mod.rs
  src/geom/objects/triangle.rs
  src/geom/rectangle.rs
  src/geom/shape.rs
  src/geom/transform.rs
  src/geom/vector.rs
  src/graphics/drawable.rs
  src/graphics/image.rs
  src/graphics/mod.rs
  src/graphics/view.rs
  src/graphics/window.rs
  src/lib.rs
Labels: change-api-breaking, enhance-feature, subsystem-graphics

#288 Use the result function from Futures to remove the need for unwrap
  examples/font.rs
Labels: documentation-soft, enhance-refactor

#294 Remove unnecessary imports from the RGB triangle example
  examples/rgb-triangle.rs
Labels: documentation-soft, subsystem-graphics

#299 Create a pull request template
  PULL_REQUEST_TEMPLATE.md
Labels: documentation-soft, enhance-infrastructure

#293 Remove the Loader types and use future combinators instead
  CHANGES.md
  src/file.rs
  src/graphics/atlas.rs
  src/graphics/font.rs
  src/graphics/image.rs
  src/graphics/mod.rs
  src/lib.rs
  src/sound.rs
Labels: change-api-breaking, enhance-feature, platform-native, platform-wasm, subsystem-graphics, subsystem-sound, subsystem-util

#296 Use constants instead of functions for Vectors' "presets"
  CHANGES.md
  examples/pulsing-circle.rs
  src/geom/circle.rs
  src/geom/objects/line.rs
  src/geom/objects/triangle.rs
  src/geom/rectangle.rs
  src/geom/tilemap.rs
  src/geom/transform.rs
  src/geom/vector.rs
  src/graphics/backend/gl3.rs
  src/graphics/backend/webgl.rs
  src/graphics/image.rs
  src/graphics/view.rs
  src/graphics/window.rs
  src/input/mouse.rs
Labels: change-api-breaking, enhance-cleanup, subsystem-geometry

#305 Change PR template to avoid having unchecked boxes
  PULL_REQUEST_TEMPLATE.md
Labels: enhance-infrastructure

#304 Enable a few new lints
  Cargo.toml
  src/error.rs
  src/geom/transform.rs
  src/graphics/atlas.rs
  src/graphics/backend/gl3.rs
  src/graphics/backend/webgl.rs
  src/graphics/font.rs
  src/graphics/image.rs
  src/input/gamepad.rs
  src/input/mouse.rs
  src/lib.rs
  src/saving.rs
  src/sound.rs
Labels: enhance-cleanup

#309 Remove the remaining uses of unwrap
  CHANGES.md
  README.md
  examples/basic.rs
  examples/draw-geometry.rs
  examples/font.rs
  examples/image.rs
  examples/pulsing-circle.rs
  examples/raycast.rs
  examples/rgb-triangle.rs
  examples/sound.rs
  src/file.rs
  src/geom/tilemap.rs
  src/lib.rs
  src/saving.rs
  src/sound.rs
  src/state.rs
Labels: change-api-breaking, enhance-cleanup, platform-native, platform-wasm, subsystem-sound

#310 Re-export the relevant portions of the Futures API
  CHANGES.md
  examples/font.rs
  examples/sound.rs
  src/lib.rs
Labels: change-api-compatible, enhance-feature

#323 Bump to stdweb 0.4.8
  Cargo.toml
  src/file.rs
Labels: enhance-cleanup, enhance-version-bump, platform-wasm

#324 Bump rodio to 0.8.0
  Cargo.toml
  src/sound.rs
Labels: enhance-version-bump, subsystem-sound

#326 Add gitter chat to the README
  README.md
Labels: enhance-infrastructure

#329 Add a Mesh structure and a RenderTarget trait
  CHANGES.md
  examples/draw-geometry.rs
  examples/font.rs
  examples/image.rs
  examples/pulsing-circle.rs
  examples/raycast.rs
  examples/rgb-triangle.rs
  examples/sound.rs
  src/geom/circle.rs
  src/geom/objects/line.rs
  src/geom/objects/triangle.rs
  src/geom/rectangle.rs
  src/geom/shape.rs
  src/geom/vector.rs
  src/graphics/color.rs
  src/graphics/drawable.rs
  src/graphics/image.rs
  src/graphics/immi.rs
  src/graphics/mesh.rs
  src/graphics/mod.rs
  src/graphics/window.rs
  src/lib.rs
Labels: change-api-breaking, enhance-feature, subsystem-graphics

#328 Create a canvas instead of trying to find one
  README.md
  src/graphics/backend/gl3.rs
  src/graphics/backend/mod.rs
  src/graphics/backend/webgl.rs
  src/graphics/window.rs
  src/lib.rs
  src/state.rs
Labels: enhance-feature, platform-wasm

#333 Make every drawable texturable
  CHANGES.md
  Cargo.toml
  README.md
  examples/draw-geometry.rs
  examples/font.rs
  examples/image.rs
  examples/pulsing-circle.rs
  examples/raycast.rs
  examples/rgb-triangle.rs
  examples/sound.rs
  src/geom/circle.rs
  src/geom/objects/line.rs
  src/geom/objects/triangle.rs
  src/geom/rectangle.rs
  src/geom/shape.rs
  src/geom/vector.rs
  src/graphics/backend/mod.rs
  src/graphics/drawable.rs
  src/graphics/image.rs
  src/graphics/immi.rs
  src/graphics/mesh.rs
  src/graphics/mod.rs
  src/graphics/vertex.rs
  src/graphics/window.rs
  src/lib.rs
Labels: change-api-breaking, enhance-cleanup, enhance-feature, enhance-optimize, subsystem-geometry, subsystem-graphics

#313 Add basic lyon trait implementations
  CHANGES.md
  Cargo.toml
  examples/lyon.rs
  src/graphics/lyon.rs
  src/graphics/mod.rs
  src/lib.rs
Labels: change-api-compatible, enhance-feature, subsystem-graphics

#334 Make Shape a trait instead of an enum
  CHANGES.md
  examples/font.rs
  examples/image.rs
  examples/sound.rs
  src/geom/circle.rs
  src/geom/mod.rs
  src/geom/objects/line.rs
  src/geom/objects/triangle.rs
  src/geom/positioned.rs
  src/geom/rectangle.rs
  src/geom/shape.rs
  src/geom/tilemap.rs
  src/geom/vector.rs
  src/graphics/atlas.rs
  src/graphics/drawable.rs
Labels: change-api-breaking, enhance-cleanup, enhance-feature, subsystem-geometry
